.blog-header {
    width: 100%;
}

.blog-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blog-title {
    width: 90%;
    font-size: 2.6rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}

.content-blog {
    padding: 23px 36px;
    /* border: 1px solid #000; */
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.infoUserBlog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
}

.share:hover {
    color: var(--second-color);
    cursor: pointer;
}

.profile-name {
    font-size: 1rem;
    font-weight: bold;
}


.detail {
    margin-right: 1rem;
    font-size: 0.875rem;
}


.profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
    border-radius: 50%;
}

.icon-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.icon {
    display: flex;
    align-items: center;
}

.icon-bookmark {
    margin-left: 2rem;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.home {
    width: 100%;
    /* min-height: 440px; */
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    color: var(--bg-color);
    text-align: center;
}

.home-title {
    font-size: 3.5rem;
}

.home-subtitle {
    font-size: 1rem;
    font-weight: 400;
}