.input-blog {
    padding: 16px;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 12px;
}

.timeAndTopic {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}



.time {
    display: flex;
    flex-direction: column;    
}

.sl_time-blog {
    width: 100%;
}

h3 {
    margin-bottom: 1rem;
}

#submitBtn {
    padding: 16px 32px;
    border: none;
    display: flex;
    margin-left: auto;
    font-size: 1.05rem;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--second-color);
    color: var(--bg-color);
    cursor: pointer;
}

#submitBtn:hover {
    opacity: 0.75;
}

#description-blog {
    width: 100%;
    height: 300px;
    resize: none;
    padding: 10px;
    font-size: 1rem;
}

.sl-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
}